body{
  background-image: url("../images/sky_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}

p{
  text-indent: 40px;
  font-family: palatino;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: inline;
  margin: 15px 10px 15px 10px;
}
h2{
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  font-family: palatino;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: inline;
}
h2#about_title{
  text-align: center;
  font-size: 20px;
  font-family: palatino;
}
h5{
  font-style: italic;
  font-family: palatino;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  display: inline;
}
ul#contact_links{
  list-style-type: none;
  display: inline;
  color: white;
  background: rgba(0, 0, 0, 0.25);
}
li{
  font-family: Arial;
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(left, black , clear); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, clear); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, black, clear); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, black , clear); /* Standard syntax */
}
}
.award_list {
  font-family: palatino;
  font-style: italic;
  align-content: center;
  padding-left: 25px;
}
img#prof_pic{
  height: 17%;
  width: 17%;
  float: left;
  padding: 5px 10px 10px 10px;
}
video {
  float: right;
  padding: 5px 10px 10px 10px;  /* top - right - bottom - left */
}
