body{
  background-image: url("../images/space_background.jpg");
  background-repeat: no-repeat;
}

.center {
  text-align: center;
  padding-top: 300px
}
h1 #job_title{
  text-shadow: 2px 3px lightgray;
}
