header{
  height: auto;
  width: auto;
}
.navbar{

}
.navbar-inverse{
  float:right;
}
.navbar-toggleable-md{
  float: right;
}

h1#header_name{
  font-size: 65px;
  text-align: center;
  color: black;
  font-family: palatino;
  font-variant: small-caps;
  text-shadow: 4px 5px lightgray;
}
h1 {
  font-style: italic;
  font-weight: bold;
}

h6{
  font-style: oblique;
  font-size: 8px;
  font-family: Arial;
  color: white;
  text-align: center;

}

li{
  font-family: Arial;
  font-size: 16px;
}
/* Regular Links*/

a:link {
  color: black
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gold;
  background: clear;
  text-decoration: none;
}


/* Nav Links */

.nav-link:link{
  background:rgba(255,255,255, 0.25);
  color: black;
  text-decoration: none;
  margin: 5px;
}
.nav-link:visited{
  background:rgba(255,255,255, 0.25);
  color: black;
  text-decoration: none;
  margin: 5px;
}
.nav-link:hover{
  background:rgba(255,255,255, 0.9);
  color: gold;
  text-decoration: none;
  margin: 5px;
}

body {

}
