header{
  height: auto;
  width: auto;
}


h1#header_name{
  font-size: 65px;
  text-align: center;
  color: black;
  font-family: palatino;
  font-variant: small-caps;
  text-shadow: 4px 5px lightgray;
}
h1 {
  font-style: italic;
  font-weight: bold;
}

h6{
  font-style: oblique;
  font-size: 8px;
  font-family: Arial;
  color: white;
  text-align: center;

}

li{
  font-family: Arial;
  font-size: 16px;
}
/* Regular Links*/

a:link {
  color: black
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gold;
  background: clear;
  text-decoration: none;
}

/* Nav*/
.nav{
  height: 45px;
}
.navbar{
 background: clear;
}
.navbar-inverse{
  float:right;
}
/* Nav Links */

.nav-link:link{
  /* background:rgba(255,255,255, 0.5);*/
  background-color: clear;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: solid 3px;
  padding: 5px;
}
.nav-link:visited{
  background-color: clear;
  color: white;
  text-decoration: none;
  border: solid 3px;
  padding: 7px;
}
.nav-link:hover{
  background-color: clear;
  color: gold;
  text-decoration: none;
  border: solid 3px;
  padding: 7px;
}

body {

}
