h1 {
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  color: #1a0033;
}

h6{
  font-style: oblique;
  font-size: 8px;
  font-family: Arial;
  color: #1a0033;
}
h2{
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
  color: #1a0033;
}
h5{
  font-style: italic;
  font-family: Arial;
  color: #1a0033;
}
p{
  text-indent: 40px;
  font-family: Arial;
}
body {
background-color: #99ffcc;
}
