header{
  background-image: url("../images/holding_code.jpg");
  height: auto;
  width: auto;
}
ul#nav_bar{
  list-style-type: none;
  margin: 0;
  padding: 0;

}
ul#navbar li{
  display: inline;
}
h1#header_name{
  font-size: 65px;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 4px 5px lightgray;
}
h1 {
  font-style: italic;
  font-weight: bold;
  font-family: Arial;
  color: #1a0033;
}
h2{
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  color: #1a0033;
}
h5{
  font-style: italic;
  font-family: Arial;
  color: #1a0033;
  font-size: 18px;
}
h6{
  font-style: oblique;
  font-size: 8px;
  font-family: Arial;
  color: white;
  text-align: center;

}
p{
  text-indent: 40px;
  font-family: Arial;
}
ul#contact_links{
  display: inline-block;
}

li{
  font-family: Arial;
  font-size: 16px;
  list-style-type: circle;
  list-style-position: inside;
}
a:link {
  color: black;
}
a:visited {
  color: blue;
}
a:hover {
  color: gold;
}
body {
background-color: #99ffcc;
margin: 30px;
border-style: solid;
border-width: 10px;
}
