header{
  height: auto;
  width: auto;
}
.navbar{

}
.navbar-inverse{
  float:right;
}
.navbar-toggleable-md{
  float: right;
}

li a{
    display: block;
    padding-left: 140px;
    padding-right: 120px;
    background-color: clear;
}
h1#header_name{
  font-size: 65px;
  text-align: center;
  color: black;
  font-family: palatino;
  font-variant: small-caps;
  text-shadow: 4px 5px lightgray;
}
h1 {
  font-style: italic;
  font-weight: bold;
  font-family: Arial;
  color: #1a0033;
}
h2{
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  color: #1a0033;
}
h5{
  font-style: italic;
  font-family: Arial;
  color: #1a0033;
  font-size: 18px;
}
h6{
  font-style: oblique;
  font-size: 8px;
  font-family: Arial;
  color: white;
  text-align: center;

}
p{
  text-indent: 40px;
  font-family: Arial;
}
ul#contact_links{
  display: inline-block;
}

li{
  font-family: Arial;
  font-size: 16px;
}
/* Regular Links*/
/*
a:link {
  color: black
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gold;
  background: clear;
  text-decoration: none;
}
*/

/* Nav Links */
/*
.nav-link:link{
  background:rgba(255,255,255, 0.25);
  color: black;
  text-decoration: none;
  margin: 5px;
}
.nav-link:visited{
  background:rgba(255,255,255, 0.25);
  color: black;
  text-decoration: none;
  margin: 5px;
}
.nav-link:hover{
  background:rgba(255,255,255, 0.9);
  color: gold;
  text-decoration: none;
  margin: 5px;
}
*/
body {
background-color: #99ffcc;
padding: 5px;

}
