#header_name{
  font-size: 65px;
  text-align: right;
}
h1 {
  font-style: italic;
  font-weight: bold;
  font-family: Arial;
  font-variant: small-caps;
  color: #1a0033;
  background-color: #0070a8;
  background-position: center;
}
h2{
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  color: #1a0033;
}
h5{
  font-style: italic;
  font-family: Arial;
  color: #1a0033;
  font-size: 18px;
}
h6{
  font-style: oblique;
  font-size: 8px;
  font-family: Arial;
  color: #1a0033;
  text-align: center;

}
p{
  text-indent: 40px;
  font-family: Arial;
}
li{
  font-family: Arial;
  font-size: 16px;
  list-style-type: circle;
  list-style-position: inside;
}
body {
background-color: #99ffcc;
margin: 30px;
border-style: solid;
border-width: 10px;
}
