.screen{
  position: relative;
}
header{
  height: auto;
  width: auto;
}


h1#header_name{
  font-size: 65px;
  text-align: center;
  color: black;
  font-family: palatino;
  font-variant: small-caps;
  text-shadow: 4px 5px lightgray;
}
h1#job_title{
  text-shadow: 2px 3px lightgray;
  font-family: palatino;
}
h1 {
  font-style: italic;
  font-weight: bold;
}

h6{
  font-style: oblique;
  font-size: 8px;
  font-family: Arial;
  color: white;
  text-align: center;

}
li{
  list-style-type: none;
}

/* Regular Links*/

a:link {
  color: gold;
  text-decoration: none;
}
a:visited {
  color: gold;
  text-decoration: none;
}
a:hover {
  color: gold;
  font-weight: bolder;
  background: clear;
  text-decoration: none;
}

/* Nav*/
.nav{
  height: 45px;
}
.navbar{
 background: clear;
 border:  white solid 5px;
}
.navbar-inverse{
  float:right;
}
/* Nav Links */

.nav-link:link{
  font-size: 20px;
  font-weight: bold;
  background-color: clear;
  color: white;
  text-decoration: none;
  border: clear 3px;
  padding: 5px;
}
.nav-link:visited{
  background-color: clear;
  color: white;
  text-decoration: none;
  border: solid 3px;
  padding: 5px;
}
.nav-link:hover{
  background-color: clear;
  color: gold;
  text-decoration: none;
  border: solid 3px;
  padding: 5px;
}

body {

}
/* Footer */
.footer{
  position:absolute;
  bottom:-400px;
  right: 0;
}
ul#contact_me{
  display: inline;
  list-style-type: none;
}
/*.connections{
  float: right;
}
*/
