body {background-color: powderblue;

}
h1 {
  color: carbon;
  font-style: oblique;
  font-size: 18px;
  font-family: cursive;

}
p {
  color: inherit;h1
  font-style: italic;
  font-family: inherit;h1;
}
