body{

  background: red; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(red,green); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(red,green); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(red,green); /* For Firefox 3.6 to 15 */
   background: linear-gradient(red,white, green); /* Standard syntax */
  background-size:cover;
  height: 100%;
  width: 100%;

}
.next{
  height: 75%;
  width: 50%;
  background-image: url("../images/cover.jpg");
  background-size:cover;
  margin-left: 20%;
  border: dashed 4px;
  border-radius: 10px;
  border-color: rgb(255, 0, 0);
}
a{
  text-decoration: underline;
  color: red;
}
h1{
  text-align: center;
  font-size: 50px;
  margin-top: 700px;
  margin-bottom: 2px;
}
