* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 20px;
    /*border: 2px solid white; will use to see if box stlying works*/
}
/*mobile-proof*/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*Page wrapper */
.home_page{



}
body{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(yellow 10%, purple); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(yellow 10%, purple); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(yellow 10%, purple); /* For Firefox 3.6 to 15 */
  background: radial-gradient(yellow 10%, purple); /* Standard syntax */
  background-size: cover;
  margin: auto;
}


/* HEADING */
.header_home {

}

.heading {

}
 /*NAV*/
.navbar {
height: auto;
width: auto;
}

.navbar-inverse {

}

.container {

}

.collapse {

}

.navbar-collapse {

}
/* NAV TO LEFT OF NAME */
.navbar-navbrowse {

}

.nav-item {

}
.nav-link_browse{
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-right-style: outset;
  border-bottom-style: outset;
  border-color: black;
  padding: 5px;
}
.nav-link_login {
  float: right;
  font-size: 20px;
  font-weight: bold;
  border-left-style: outset;
  border-bottom-style: outset;
  border-color: black;
  color: black;
  text-decoration: none;
  padding: 5px;
}
.nav-link_signup{
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-left-style: outset;
  border-bottom-style: outset;
  border-color: black;
  text-decoration: none;
  padding: 5px;
}

.navbar-header {
}

.navbar-brand {
float: right;
}
a#brand{
  color: black;
  font-weight: bolder;
  text-decoration: none;
  font-size: 35px;
  text-shadow: 2px 2px white;
  font-family: palatino;
  font-variant: small-caps;
}

/*NAV TO RIGHT OF NAME */
.navbar-navtwo {

}
/* MAIN BODY */
.body_home {


}
/*FRIEND PLAYLISTS */
.group_ears {
  background-color: hsla(290, 100%, 100%, 0.2); /* 360/0 is red, 120 is green, 240 is blue - Hue Saturation Lightness Alpha */
  border: 3px solid white;
  border-radius: 10px;
}

/* RECENTLY PLAYED */
.your_ears {
  background-color: hsla(290, 100%, 100%, 0.2); /* 360/0 is red, 120 is green, 240 is blue - Hue Saturation Lightness Alpha */
  border: 3px solid white;
  border-radius: 10px;
}

/* RECOMMENDED PLAYLISTS */
.our_ears {
  background-color: hsla(290, 100%, 100%, 0.2); /* 360/0 is red, 120 is green, 240 is blue - Hue Saturation Lightness Alpha */
  border: 3px solid white;
  border-radius: 10px;
}

/*FOOTER */
.footer_home {
}
/* CONTACT LINKS */
.contact_us {
  display: inline;
  list-style-type: none;
  margin-top: -20px;
}
li#mail {
  margin-top: -10px;
}
li#facebook {
  margin-top: -10px;
}
li#twitter {
  margin-top: -10px;
}
li#instagram {
  margin-top: -10px;
}
ul{
  list-style-type: none;
  margin-left: -25px;
  margin-right: auto;
}
ul#playlist{
  margin-top: -15px;
}
ul#update_date{
  margin-top: -15px;
}
ul#plays{
  margin-top: -15px;
}
ul#friend_list{
  margin-top: -15px;
}
ul#bydaily_playlists{
  margin-top: -5px;
}
ul#daily_playlist{
  margin-top: -20px
}
ul#weekly_playlist{
  margin-top: -20px
}
ul#monthly_playlist{
  margin-top: -20px
}

h1, h2, h3, h4, h5, h6{
  color: black;
  text-align: center;
  font-family: palatino;
}
h3#list_heading{
  margin-top: -20px;
  margin-bottom:  -25px;
  color: black;
  font-family: palatino;
  font-variant: small-caps;

}
li{
  color: black;
  text-align: center;
}
li#list_heading{
  font-weight: bolder;
  color: black;
  font-family: palatino;
  font-variant: small-caps;
  text-decoration: underline;
}
.interior_titles {
  color: black;
  margin-top: -10px;
  margin-bottom: 0px;
}

.interior_list{
  color: black
}
