/*Page wrapper */
.home_page{
  display: grid;

  grid-template-columns: repeat (5, [col] 1fr);
  grid-gap: 10px;
  grid-template-rows: auto;

  background-color: rgb(217, 179, 255) ;
  background-size: cover;
  border: 5px solid black;
}


/* HEADING */
.header_home {
  grid-column: col / span 5;
  grid-row: 1;
}

.heading {

}
 /*NAV*/
.navbar {

}

.navbar-inverse {

}

.container {

}

.collapse {

}

.navbar-collapse {

}
/* NAV TO LEFT OF NAME */
.navbar-navbrowse {

}

.nav-item {

}

.nav-link_login {

}
.nav-link_signup{

}

.navbar-header {

}

.navbar-brand {

}
/*NAV TO RIGHT OF NAME */
.navbar-navtwo {

}
/* MAIN BODY */
.body_home {


}
/*FRIEND PLAYLISTS */
.group_ears {
  grid-row: 3;
  grid-column: 1 / span 2;
  background-color: rgb(26, 0, 51);
  border: 3px solid black;
  border-radius: 2px;
}

.ge_container {

}
/* RECENTLY PLAYED */
.your_ears {
  grid-row: 3;
  grid-column: 3 / span 2;
  background-color: rgb(26, 0, 51);
  border: 3px solid black;
  border-radius: 2px;
}

.ye_container {

}
/* RECOMMENDED PLAYLISTS */
.our_ears {
  grid-row: 4 / 5;
  grid-column: 2 / span 3;
  background-color: rgb(26, 0, 51);
  border: 3px solid black;
  border-radius: 2px;
}

.oe_container {

}
/*FOOTER */
.footer_home {
  grid-row: 6;
  grid-column: 1 / span 5;
  background-color: rgb(255, 204, 102);
  border: 5px solid black;
}
/* CONTACT LINKS */
.contact_us {
  display: inline;
  list-style-type: none;

}
ul{
  list-style-type: none;
}
