* {
    box-sizing: border-box;
}
                            /*columns*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}
                            /*mobile-proof*/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
                            /*Page wrapper */
.home_page{



}

                            /* BODY */
body{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(yellow 10%, purple); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(yellow 10%, purple); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(yellow 10%, purple); /* For Firefox 3.6 to 15 */
  background: radial-gradient(cyan 50%, purple); /* Standard syntax */
  background-position: center;
  background-size: cover;
  background-repeat:round;
  margin: 5px;
  height: 100%;
  overflow:auto;
}
/* HEADING */
.header_home {

}

.heading {

}
                             /*NAV*/
.navbar {
height: auto;
width: auto;
}

.navbar-inverse {

}

.container {

}

.collapse {

}

.navbar-collapse {

}
                            /* NAV TO LEFT OF NAME */


.nav-item {

}
.nav-link_browse{
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-right-style: outset;
  border-bottom-style: outset;
  border-color: black;
  padding: 5px;
  background-color:rgba(255,255,255, 0.7);
  border-radius: 25px 0 0 5px;
}
.nav-link_upload{
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-right-style: outset;
  border-bottom-style: outset;
  border-color: black;
  padding: 5px;
  background-color:rgba(255,255,255, 0.7);
  border-radius: 0 0 0 0;
}
.nav-link_connect{
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-right-style: outset;
  border-bottom-style: outset;
  border-color: black;
  padding: 5px;
  background-color:rgba(255,255,255, 0.7);
  border-radius: 0 0 0 0;
}
                            /* NAV TO RIGHT OF NAME */
.nav-link_login {
  float: right;
  font-size: 20px;
  font-weight: bold;
  border-left-style: outset;
  border-bottom-style: outset;
  border-color: black;
  color: black;
  text-decoration: none;
  padding: 5px;
  background-color:rgba(255,255,255, 0.7);
  border-radius: 0 25px 5px 0;
}
.nav-link_signup{
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-left-style: outset;
  border-bottom-style: outset;
  border-color: black;
  text-decoration: none;
  padding: 5px;
  background-color:rgba(255,255,255, 0.7);
  border-radius: 0 0 0 10px;
}


.navbar-header {
}

.navbar-brand {
float: right;

}
                            /*title brand */
a#brand{
  color: black;
  font-weight: bolder;
  text-decoration: none;
  font-size: 35px;
  text-shadow: 2px 2px white;
  font-family: palatino;
  font-variant: small-caps;
}
img#title_icon{
  height: 50px;
  width: 50px;
}
                            /*NAV TO RIGHT OF NAME */
.navbar-navtwo {

}
                            /* MAIN BODY */
.body_home {


}
                            /*FRIEND PLAYLISTS */
.group_ears {
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, purple, cyan , lightgreen); /* Standard syntax */
  border: 3px solid white;
  border-radius: 10px;
}

                            /* RECENTLY PLAYED */
.your_ears {
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, lightgreen, cyan , purple); /* Standard syntax */
  border: 3px solid white;
  border-radius: 10px;
}

                            /*featured artists slideshow */
div.slideshow{
  background-color: black;
  border-radius: 10px;
}
img.featured_slides{
  height: 225px;
  width: 100%;
  background: black;
  border: white solid 4 px;
  border-radius: 10px;
  /*fading animation of slideshow */
  animation:fading 10s infinite}
  @keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}
}
img.featured_slides1{
  height: 225px;
  width: 100%;
  background: black;
  border: white solid 4 px;
  border-radius: 10px;
  /*fading animation of slideshow */
  animation:fading 10s infinite}
  @keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}
}
img.featured_slides2{
  height: 225px;
  width: 100%;
  background: black;
  border: white solid 4 px;
  border-radius: 10px;
  /*fading animation of slideshow */
  animation:fading 10s infinite}
  @keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}
}

                              /* RECOMMENDED PLAYLISTS */
.our_ears {
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, purple, cyan, lightgreen, cyan , purple); /* Standard syntax */
  border: 3px solid white;
  border-radius: 10px;
}
                              /* social media links */
li#mail {
  margin-top: 20px;
}
li#facebook {
  margin-top: 20px;
}
li#twitter {
  margin-top: 20px;
}
li#instagram {
  margin-top: 20px;
}
ul{
  list-style-type: none;
  margin-left: -25px;
  margin-right: auto;
}
ul#playlist{
  margin-top: -15px;
}
ul#update_date{
  margin-top: -15px;
}
ul#plays{
  margin-top: -15px;
}
ul#friend_list{
  margin-top: -15px;
}
ul#bydaily_playlists{
  margin-top: -20px;
}
ul#daily_playlist{
  margin-top: -20px
}
ul#weekly_playlist{
  margin-top: -20px
}
ul#monthly_playlist{
  margin-top: -20px
}
                              /*headings*/
h1, h2, h3, h4, h5, h6{
  color: black;
  text-align: center;
  font-family: palatino;
}
h3#list_heading{
  margin-top: -20px;
  margin-bottom:  -25px;
  color: black;
  font-family: palatino;
  font-variant: small-caps;

}
li{
  color: black;
  text-align: center;
}
li#list_heading{
  font-weight: bolder;
  color: black;
  font-family: palatino;
  font-variant: small-caps;
  text-decoration: underline;
}
                              /* playlist links!!! */
a#plist{
  font-variant: small-caps;
  font-family: palatino;
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.interior_titles {
  color: black;
  margin-top: -10px;
  margin-bottom: 0px;
}
div#r1{
  height: auto;
}
div#r2{
  height: 30vh;
}
div#r3{
  height: 30vh;
}
div#r4{
  height: auto;
}
div#last_row{
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: white 2px solid;
  height: 15vh;  /*viewport units */
  width: 100%;
}
                              /*mobile-proof* make footer disappear on mobile */
@media only screen and (max-width: 600px) {
  div#last_row{
    visibility: hidden;
    display: none;
  }
}


li#footer{
color: white;
}
