* {
    box-sizing: border-box;
}
                            /*columns*/
.col-1 {width: 33.33%;}
.col-2 {width: 66.67%;}
.col-3 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
}
                            /*mobile-proof*/
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
