/*Page wrapper */
.home_page{
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(185px, auto);

  grid-template-areas:
  "navbar-navbrowse navbar-brand . nav-link_login nav-link_login"
  "group_ears group_ears . your_ears your_ears"
  ". our_ears our_ears our_ears ."
  "footer_home footer_home footer_home footer_home footer_home"
}

/* HEADING */
.header_home {

}

.heading {

}
 /*NAV*/
.navbar {

}

.navbar-inverse {

}

.container {

}

.collapse {

}

.navbar-collapse {

}
/* NAV TO LEFT OF NAME */
.navbar-navbrowse {

}

.nav-item {

}

.nav-link_login {

}
.nav-link_signup{

}

.navbar-header {

}

.navbar-brand {

}
/*NAV TO RIGHT OF NAME */
.navbar-navtwo {

}
/* MAIN BODY */
.body_home {
  background-color: rgb(140, 26, 255) ;
  background-size: cover;

}
/*FRIEND PLAYLISTS */
.group_ears {

}

.ge_container {

}
/* RECENTLY PLAYED */
.your_ears {

}

.ye_container {

}
/* RECOMMENDED PLAYLISTS */
.our_ears {

}

.oe_container {

}
/*FOOTER */
.footer_home {

}
/* CONTACT LINKS */
.contact_us {

}
