* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 2px solid red; /*will use to see if box stlying works*/
}
/*Page wrapper */
.home_page{
  background-color: black ;
  background-size: cover;
  border: 5px solid black;

  display: grid;
  grid-template-rows: repeat(5, [row] 250px);
  grid-template-columns: repeat(5 ,[col] 200px);
  grid-gap: 10px;
}


/* HEADING */
.header_home {
  grid-column: col / span5;
  grid-row: row;
}

.heading {

}
 /*NAV*/
.navbar {
height: auto;
width: auto;
background: clear;
border:  white solid 5px;
}

.navbar-inverse {

}

.container {

}

.collapse {

}

.navbar-collapse {

}
/* NAV TO LEFT OF NAME */
.navbar-navbrowse {

}

.nav-item {

}
.nav-link_browse{
  float: left;
  font-size: 20px;
  font-weight: bold;
  background-color: clear;
  color: white;
  text-decoration: none;
  border: clear 3px;
  padding: 5px;
}
.nav-link_login {
  float: right;
  font-size: 20px;
  font-weight: bold;
  background-color: clear;
  color: white;
  text-decoration: none;
  border: clear 3px;
  padding: 5px;
}
.nav-link_signup{
  float: right;
  font-size: 20px;
  font-weight: bold;
  background-color: clear;
  color: white;
  text-decoration: none;
  border: clear 3px;
  padding: 5px;
}

.navbar-header {

}

.navbar-brand {

}
/*NAV TO RIGHT OF NAME */
.navbar-navtwo {

}
/* MAIN BODY */
.body_home {


}
/*FRIEND PLAYLISTS */
.group_ears {
  grid-column: col / span 2;
  grid-row: row 2;

  background-color: rgb(26, 0, 51);
  border: 3px solid white;
  border-radius: 10px;
}

.ge_container {

}
/* RECENTLY PLAYED */
.your_ears {
  grid-column: col 3 / span 2;
  grid-row: row 2;

  background-color: rgb(26, 0, 51);
  border: 3px solid white;
  border-radius: 10px;
}

.ye_container {

}
/* RECOMMENDED PLAYLISTS */
.our_ears {
  grid-column: col 1 / span 3;
  grid-row: row 3;

  background-color: rgb(26, 0, 51);
  border: 3px solid white;
  border-radius: 10px;
}

.oe_container {

}
/*FOOTER */
.footer_home {
  grid-column: col / span 5;
  grid-row: row 5;
  padding: 0;
  background-color: rgb(255, 204, 102);
  border: 5px solid white;
}
/* CONTACT LINKS */
.contact_us {
  display: inline;
  list-style-type: none;

}
ul{
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
  color: white;
  text-align: center;
}
li{
  color: white;
  text-align: center;
}
a#brand{
  color: white;
  font-weight: bolder;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 1px 2px gold;
  font-family: palatino;
  font-variant: small-caps;
}
